@model CreateReservationDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="col-md-12 block-9 mb-md-5" style="max-width: 1000px; margin: 0 auto;">
    @if (TempData["ReservationSuccess"] != null)
    {
        <div class="alert alert-success">@TempData["ReservationSuccess"]</div>
    }
    @if (TempData["ReservationError"] != null)
    {
        <div class="alert alert-danger">@Html.Raw(TempData["ReservationError"])</div>
    }

    <form class="bg-light p-5 contact-form" method="post">
        <h3 class="alert alert-success">Araç Rezervasyon Formu</h3>

        <input type="hidden" asp-for="CarID" value="@ViewBag.v3" />

        <div class="row">
            <div class="col-md-6 mb-3">
                <input type="text" asp-for="Name" class="form-control" placeholder="Adınız">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <input type="text" asp-for="Surname" class="form-control" placeholder="Soyadınız">
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <input type="text" asp-for="Email" class="form-control" placeholder="Mail Adresiniz">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <input type="text" asp-for="Phone" class="form-control" placeholder="Telefon Numaranız">
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                @Html.DropDownListFor(x => x.PickUpLocationID, (List<SelectListItem>)ViewBag.v, "Almak İstediğiniz Lokasyon", new { @class = "form-control" })
                <span asp-validation-for="PickUpLocationID" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                @Html.DropDownListFor(x => x.DropOffLocationID, (List<SelectListItem>)ViewBag.v, "Teslim Etmek İstediğiniz Lokasyon", new { @class = "form-control" })
                <span asp-validation-for="DropOffLocationID" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <input type="text" asp-for="Age" class="form-control" placeholder="Yaşınız">
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <input type="text" asp-for="DriverLicenseYear" class="form-control" placeholder="Ehliyet Yılınız">
                <span asp-validation-for="DriverLicenseYear" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group mb-4">
            <textarea asp-for="Description" cols="30" rows="4" class="form-control" placeholder="Varsa Eklemek İstedikleriniz"></textarea>
        </div>

        <div class="form-group text-center">
            <input type="submit" value="Rezervasyonu Tamamla" class="btn btn-primary px-5 py-2">
        </div>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
